<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% if(!user){ %>
            <li><a href="/auth/login">Login</a></li>
        <% }else{ %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
       <% } %>
        
        
    </ul>
</nav>